.panels-flexible-region {
  padding: 0;
}

.panels-flexible-region-inside {
  padding-right: 0em;
  padding-left: 0em;
}

.panels-flexible-region-inside-first {
  padding-left: 0;
}

.panels-flexible-region-inside-last {
  padding-right: 0;
}

.panels-flexible-column {
  padding: 0;
}

.panels-flexible-column-inside {
  padding-right: 0.5em;
  padding-left: 0.5em;
}

.panels-flexible-column-inside-first {
  padding-left: 0;
}

.panels-flexible-column-inside-last {
  padding-right: 0;
}

.panels-flexible-row {
  padding: 0 0 1em 0;
  margin: 0;
}

.panels-flexible-row-last {
  padding-bottom: 0;
}

.panels-flexible-column-2-main {
  float: left;
  width: 99.0000%;
}

.panels-flexible-2-inside {
  padding-right: 0px;
}

.panels-flexible-2 {
  width: auto;
}

.panels-flexible-region-2-block1 {
  float: left;
  width: 33.0865%;
}

.panels-flexible-region-2-block2 {
  float: left;
  width: 31.0664%;
}

.panels-flexible-region-2-block3 {
  float: left;
  width: 34.8472%;
}

.panels-flexible-row-2-1-inside {
  padding-right: 0px;
}

.panels-flexible-region-2-center {
  float: left;
  width: 33.0062%;
}

.panels-flexible-region-2-gallery_box {
  float: left;
  width: 65.9938%;
}

.panels-flexible-row-2-main-row-inside {
  padding-right: 0px;
}

