@charset "utf-8";
/* CSS Document */
body {
	color: #ffffff;
}
* {
	color: #DFDFDF !important;
}
a {
    background-color: inherit;
    color: #FFF600 !important;
}
.breadcrumb ul li {	
	background: url("images/blt-bread_contrast.png") no-repeat scroll 0 0.35em transparent!important;
	color: #A0A0A0 !important;
}

.accessPan ul li.contrast a.light {
	color: #000000 !important;
}
#contentPanel ,.contact #bodyPanel .mid{
    background: none repeat scroll 0 0 #000000!important;
}

.contact #contentPanel form label {
	color: #dfdfdf !important;
}
#contentPanel .mainContent .mainHeading h1 {
	color: #ffffff !important;
}
#bodyPanel {
    background: url("images/bg-body_contrast.png") repeat-x scroll 0 0 #000 !important;
}
.contact #contentPanel form label span {
	color: #7d7d7d !important;
}
.contact #contentPanel form input,.contact #contentPanel form textarea ,#submit_btn,#edit-preview{
    background: none repeat scroll 0 0 #0b0b0b!important; 
	color:#939393;  
}


.mainContainer .top .mid, .bottomLink .mid, #contentPanel .contentArea .mid {
    background: none repeat scroll 0 0 #5C5C5C !important;
}
.breadcrumb {
	border-bottom: 1px solid #212121!important;	
}

.pageIcons ul li {
	border-left: 2px solid #7d7d7d!important;	
}
.pageIcons ul li:first-child {
	border-left: 0px solid #7d7d7d!important;	
}
.mainContainer .bottom {
    background: url("images/btm-gradient_contrast.gif") repeat-x scroll 0 0 transparent!important;
}
#navPanel,#navPanel ul li a {
	background: url("images/nav-bar_contarst.png") repeat-x scroll 0 0 #737473;
}

#navPanel ul ul li a,#navPanel ul ul li.first a{
	background: url("images/arrow-sub.png") no-repeat scroll 0.8em 0.8em #737473 !important;
}

.mainContainer .top {	
	background: url("images/top-gradient_contrast.png") repeat-x scroll 0 100% transparent !important;
}
.bottomLink {	
	background: url("images/top-gradient_contrast.png") repeat-x scroll 0 0 transparent!important;
}

#navPanel ul li a:hover, #navPanel ul li a.active,#navPanel ul li.first a.active,#navPanel ul li.first a:hover,#navPanel ul ul li.first a:hover,#navPanel ul ul li.first a.active {
	background:url(images/nav-bar-h_contrast.png) repeat-x 0 0 #530000!important;
}
#leftPanel .filters ul li a {
    background: url("images/blts_contrast.png") no-repeat scroll 0 0.5em transparent!important;
}


#navPanel ul li.first a,#navPanel ul li.first a.active{
	background: url("images/icon-home_contrast.png") no-repeat scroll 50% 0 transparent!important;
}
#navPanel ul li.first a:hover {
	background:url("images/icon-home_contrast.png") no-repeat 50% 100%!important;
	
}
.contact #contentPanel input.submitFeedback {
	 background: url("images/btn-submit-feedback_contrast.png") no-repeat scroll 0 0 transparent!important;
}
#leftPanel {
	background: none repeat scroll 0 0 #242424!important;
}
#leftPanel .modules {
	background: none repeat scroll 0 0 #242424!important;
}

#leftPanel .modules h2 {
	color: #fff!important;
}
#leftPanel .filters ul li {
	border-bottom: 1px solid #383838!important;
    border-top: 1px solid #383838!important;
}
#leftPanel .filters {
	border-bottom: 1px solid #383838!important;
    border-top: 1px solid #383838!important;
}

#leftPanel .searchPan form {
    background: url("images/srch-box_contrast.png") repeat-x scroll 0 0 #242424!important;
}

#leftPanel .searchPan form input {
	 background: none repeat scroll 0 0 #0B0B0B !important;
    border: 1px solid #939393!important;
	color:#939393!important;
}
#leftPanel .searchPan form input.btn {
	 background: url("images/srch-btn_contrast.png") no-repeat scroll 0 0 transparent!important;
}

#leftPanel .searchPan,.hbdr {
    background: url("images/bdr-srch-pan_contrast.png") repeat-x scroll 0 100% transparent!important;
	
}

#leftPanel .modules h3 {	
	 background: url("images/hdng-bar-lft_contrast.png") repeat-x scroll 0 100% #4c4c4c!important;
	  color: #ffffff!important;
	  border: 1px solid #939393!important;
}

.tableData table th {
	background: none repeat scroll 0 0 #212121!important;
	 color: #DFDFDF !important;
	 border-color:#000000!important;
}
.tableData p {
	 color: #a1a1a1!important;
}
.tableData table td {
    border-bottom: 1px solid #212121!important;
    border-top: 1px solid #212121!important;
}
.tableData table tr.even {
    background: none repeat scroll 0 0 #242424 !important;
   color: #a1a1a1!important;
}
.tableData table tr:hover {
	background: none repeat scroll 0 0 #4C4C4C !important;
	 color: #a1a1a1!important;
}


#footer a.logo {
	
	background: url("images/logo-footer.png") no-repeat scroll 0 0 transparent!important;
}
#footer p {	
	color:#666666!important; 
}
#footer ul li {
    background: url("images/divider-footer_contrast.png") no-repeat scroll 0 0.2em transparent!important;
}
/*CSS for Featured Gallery starts here*/
.imageflow {
    background: none repeat scroll 0 0 #333333;
    border: 2px solid #9f9fa1;
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: -moz-linear-gradient(center top , #9F9FA1 0%, #000000 100%) repeat scroll 0 0 transparent;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#9F9FA1), color-stop(100%,#000000)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #9F9FA1 0%,#000000 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #9F9FA1 0%,#000000 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #9F9FA1 0%,#000000 100%); /* IE10+ */
	background: linear-gradient(top, #9F9FA1 0%,#000000 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9F9FA1', endColorstr='#000000',GradientType=0 ); /* IE6-8 */
}
.caption
{
margin-top:104px !important;
font-size:152%;
color: #E2E2E2 !important;
}
/*CSS for Featured Gallery ends here*/
/*metrics menu and page css starts here*/
.metrics-menu ul.nice-menu a,.catalog-tabs-menu ul.catalog-tabs a{
    background-color: #333333;
}
.metrics-menu ul li a:hover, .metrics-menu ul li a.active,.metrics-menu ul li a:focus,.catalog-tabs-menu ul li a:hover,.catalog-tabs-menu ul li a.active,.catalog-tabs-menu ul li a:focus {
    background-color: #757575 !important;
}
.ds-list-head-new ,.ds-list-item-new-summary,.ds-list-head-new-center,.ds-list-head-new-last,.ds-list-head-new-first,#block-admin-display-form th{
    background: none repeat scroll 0 0 #333333 !important;
}
.ds-list-item-new ,.ds-list-item-new-center ,.ds-list-item-new .active , .agency-bgcolor {
    background: none repeat scroll 0 0 #000000 !important;
}
.metrics-visitorstats-table-heading {
    color: #E2E2E2 !important;
}
.metrics-datasetreport-select select,.metrics-datasetreport-select option ,.metrics-result-per-page-dropdown select,.metrics-result-per-page-dropdown option ,.metrics-highvalue-select select,.metrics-highvalue-select  option{
color:#E2E2E2 !important;
background: none repeat scroll 0 0 #000000;
}
/*metrics menu and page css ends here*/
#contentPanel .whats-new-block  {
    background: none repeat scroll 0 0 #333333;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#333333', endColorstr='#333333',GradientType=0 ); /* IE6-8 */

}
.homePage .topBlocks .blocks,.homePage .bottomPanel{
background:none repeat scroll 0 0 #898989 !important;
}
#contentPanel .ods-list-item .item li .type,.ods-list .ods-states .type{    
    background: none repeat scroll 0 0 #656565! important;
 }
 .dataset .fieldgroup h2{
	background:#595959 !important;
	padding:3px 0 3px 8px;
	}
.dataset .field:hover,.feedback .field:hover{
	background:#666666;
	}
#web-contact-owner-form{
	background: none repeat scroll 0 0 #333333;
}
#tabs-block ul.list li {
    background: none repeat scroll 0 0 #999999;
	color: #FFF600 !important;
}
#web-contact-owner-form-errors.error{
	background: none repeat scroll 0 0 #333333 !important;
}
#ratings-form-errors.error{
	background: none repeat scroll 0 0 #333333 !important;
}
.contact #contentPanel form label span{
color:#DFDFDF !important;
}
.embed-block {
    background: none repeat scroll 0 0 #333333;
}
.econf-block-selected-color {
    background:none repeat scroll 0 0 #CCCCCC !important
}
.econf-block .block div.small, .econf-block .block div.medium, .econf-block .block div.large {
    background:none repeat scroll 0 0 #222222;
}
.ratings-block {
    background: none repeat scroll 0 0 #333333;
}
#block-vrm_customization-0 #node-form{
	background: none repeat scroll 0 0 #333333 !important;
}
#map *, .contrast-mode-map *{
	color:#000000 !important;
}

#map a, #map a:hover, #map a:active{
	color:#022C99 !important;
}

.contrast-mode-map a, .contrast-mode-map a:hover, .contrast-mode-map a:active{
	color:#022C99 !important;
}
/* share pop-up css starts here*/
#at15s, #at15s * {
    color: #000000 !important;
}
#at16pi, #at16pi * {
    color: #000000 !important;
}
#at_hover .at_item:hover, #at_hover .at_item.athov, #at16ps .at_item:focus, #at_share .at_item:hover, #at_share .at_item.athov{
	background: none repeat scroll 0 0 #F2F2F2 !important;
	border: 1px solid #E5E5E5 !important;
}
#at_share .at_item{
	border: 1px solid #FFFFFF !important;
}
/*share css*/
.txtBox h2 {background:#434343;}
.txtBox #major_events{ background: none repeat scroll 0 0 #898989; width:231px;}
.contact #contentPanel form input#recaptcha_response_field {background:#FFFFFF !important; color:#000000 !important;}
.contact #contentPanel form label span#recaptcha_instructions_image{color:#000000 !important;}

#footer p {color:#FFFFFF !important;}
/*########################### CSS for search  starts here ##############################*/
.searchPan form input {color: #000000 !important;}
span.type {background:none repeat scroll 0 0 transparent !important;}
#leftPanel .container h2 {background: url("images/hdng-bar-lft_contrast.png") repeat-x scroll 0 100% #4C4C4C !important; border: 1px solid #939393 !important; color: #FFFFFF !important;}
#views-exposed-form-Catalogs-Search-page-1, #search-form { background: url("images/srch-box_contrast.png") repeat-x scroll 0 0 #242424 !important;}
#views-exposed-form-Catalogs-Search-page-1 .form-item .form-text, #search-form .form-item .form-text {background: none repeat scroll 0 0 #0B0B0B !important;    border: 1px solid #BABABA !important;    color: #BABABA !important;}
#leftPanel .item-list ul li { background: url("images/blts_contrast.png") no-repeat scroll 10px 0.5em transparent; border-bottom: 1px solid #383838 !important;  border-top: 1px solid #383838 !important;}
#leftPanel .item-list  { border-bottom: 1px solid #383838 !important;  border-top: 1px solid #383838 !important;}
.tableData table tr.odd {background:none repeat scroll 0 0 #000000;}
.pagination ul li a.active ,.item-list ul.pager li a.active  {background:#4c4c4c;}
/*########################### CSS for search  ends here ##############################*/
/*Added for preview*/
#boxes #dialog {
    background: none repeat scroll 0 0 #333333 !important;
}
/*Added for preview*/
/*Added for contact owner drop down*/
#web-contact-owner-form #contactowner-id select,#web-contact-owner-form #contactowner-id select option,#node-form select ,#node-form select option{
	color:#ffffff !important; 
	background:#000000;
}
/*Added for contact owner drop down*/

#contentPanel .whats-new-block h2 {    background-color: #545454 !important; }