/* CSS Document */
body {
	margin:0;
	padding:10px;
	color:#ffff;
	font-family:Arial, Helvetica, sans-serif;
	font-size:62.5%;
	}
/* ========================================= general styles start here ========================================= */
html {
	height:100%;
	}
* {
	margin:0;
	padding:0;
	font-weight:normal;
	font-family:Arial,Helvetica,sans-serif !important;
	color:#2b2b2b;
	}

img {
	border:none;
	font-size:12px;
	}
h1, h2, h3, h4 {
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	}
/* ++++++++++++++++++++++ paragraph ++++++++++++++++++++++ */
p {
	margin:0 0 15px 0;
	font-size:1.3em;
	line-height:1.47em;
	color:#2B2B2B;
	background-color:transparent;
	}
p span {
	font-weight:bold;
	}
/* ++++++++++++++++++++++ paragraph ++++++++++++++++++++++ */

/* ++++++++++++++++++++++ anchors ++++++++++++++++++++++ */
a {
	color:#022C99;
	background-color:inherit;
	text-decoration:none;
}
a:visited {color:#022C99;} /* visited link */
a:active {color:#022C99;}  /* selected link */
/* ++++++++++++++++++++++ anchors ++++++++++++++++++++++ */

/* ++++++++++++++++++++++ list styles ++++++++++++++++++++++ */
#mainContent li{
	font: 1.3em/1.47em arial;
    list-style: disc outside none;
}
ul {
    list-style:disc outside none;
}
li {
    list-style:disc outside none;
}

.fLeft{float:left;}
.fRight{float:right;}
.cBoth{clear:both;}
ul.suggestions-list{
	float:left;
}


.dataset .fieldgroup,.feedback .fieldgroup {
    margin:0 0 20px 0;
    border-radius:7px;
    border:1px solid #eeeeee;
    width:100%;
	float:left;
	padding:0px;
	font-size: 1.3em;
	}
.feedback .fieldgroup {
    border: 1px solid #CCCCCC;
	margin:0 0 10px 0;
}
.dataset .fieldgroup h2{
	background:#eeeeee;
	padding:3px 0 3px 8px;
	border-radius:7px 7px 0 0;
	font-size:1.3em;
	}	
.dataset .fieldgroup .content{
	padding:0px;
	margin:0px
	}	

.dataset .field {
    border-bottom:1px solid #cccccc;
	display:block;
	width:100%;
	float:left;
	}
.feedback .field {
    border-top: 1px solid #CCCCCC;
	display:block;
	width:100%;
	float:left;
}
.feedback .field:first-child {
    border-top: 0 none;
}
.dataset .field:hover,.feedback .field:hover{
	background:#eeeeee;
	}
.feedback .field:first-child:hover {
    border-radius: 7px 7px 0 0;
}
.dataset .field-last-item{
	border:0px;
	}

.dataset .description{
	display:none;
	}	

.dataset .field-label,.feedback .field-label {
	float:left;
	width:20%;
	padding:8px 0 8px 8px;
	font-weight:bold;
	}
	
.dataset .field-item ,.feedback .field-item {
	display: block;
	}
.dataset .field-item p,.feedback .field-item p{
	margin:0px;
	color:#000000;
}	
.dataset .field-items,.feedback .field-items{
    float:left;
	width:70%;
	margin:0 0 0 20px;	
	padding:8px 0 8px 8px;
}
.dataset.rate-info, .dataset .rate-description {
    font-size: 1.3em;
}

.dataset .field-item p,.feedback .field-item p {
    font-size: 1em;
}


.page-title-border {
    background:url("images/header-border.png") repeat scroll 0 0 transparent;
    height: 9px;
    margin-bottom: 10px;
}

.add-this-options a {
    float:left;
}
.add-this-options .at15nc{
    width:16px!important;
}
.add-this-options a {
    float: left;
    margin-left: 3px;
}
.add-this-options {
    height: 16px;
    padding-bottom: 10px;
}

.embed-feature-links div.fLeft a {
    background: none repeat scroll 0 0 #CCCCCC;
    border: medium none;
    border-radius: 5px 5px 5px 5px;
    cursor: pointer;
    font-size: 1.5em;
    margin: 0 5px 10px 0;
    padding: 5px;
	display:block;
}
.embed-feature-links div.fLeft  a:hover {
    background: none repeat scroll 0 0 #743248;
    color: #FFFFFF;
    text-decoration: none!important;
}