/* CSS Document */
body {
	background:#333;
	color:#fff;
	}

* {
	border-color:#e2e2e2!important;
	color:#e2e2e2 !important;
	}

form input, form select, form option {
	color:#000!important;
	background: none repeat scroll 0 0 transparent;
	background: none repeat scroll 0 0 rgba(255, 255, 255, 0);
	}
form input[type="submit"],form button {
    background-color: transparent;
    color: #FFF600 !important;
}
form input.btn {
	color:#fff!important;
	background-color:transparent;
	}

a {
	color:#fff600!important;
	background-color:inherit;
	}

a:hover {
	color:#fff600!important;
	background-color:inherit;
	}
a.more {
	color:#fff600!important;
	background-color:transparent;
	}
a.more:hover {
	color:#fff!important;
	background:#000;
	}


a.home {
	color:#000!important;
	background:url(../images/high/btn-home.gif) no-repeat 100% 100% #fff600;
	}
a img {color:#fff600!important;}
/*list styles*/
ul.lists li, .news ul li {
	background-image:url("images/blts.png")
	}
/*list styles*/

/* ========================================= top panel start here ========================================= */
#topPanel {
	background:#000;
	color:#FFF;
	}

/* ++++++++++++++++++++++ logo start here ++++++++++++++++++++++ */
.logo h2 {
	color:#000!important;
	background:#fff600;
	}

/* ++++++++++++++++++++++ accessibility pan start here ++++++++++++++++++++++ */
.accessibility {
	background:url(../images/high/crnr-access-rt.gif) no-repeat 100% 0 #232323;
	color:#fff;
	}
.accessibility .left {
	background-image:url(../images/high/crnr-access-lft.gif);
	}
.accessibility ul {
	background:#232323;
	color:#fff;
	}
.accessibility ul li {
	color:#fff600!important;
	background-color:inherit;
	}
/* ++++++++++++++++++++++ accessibility pan end here ++++++++++++++++++++++ */

/* ++++++++++++++++++++++ nav pan start here ++++++++++++++++++++++ */
.navPanel {
	background-image:url(../images/high/bdr-nav.gif);
	}
.navigation ul li {
	background-image:url(../images/high/divider-footer.gif);
	}
.navigation ul li a {
	color:#fff600!important;
	background-color:inherit;
	}
/* ++++++++++++++++++++++ nav pan end here ++++++++++++++++++++++ */

/* ++++++++++++++++++++++ search form ++++++++++++++++++++++ */
.searchForm {
	background-image:url(../images/high/bg-search-pan.gif);
	}
.searchForm form input {
	background-image:url(../images/high/srch.gif);
	}
/* ++++++++++++++++++++++ search form ++++++++++++++++++++++ */

/*header start here*/
.headerPanel {
	background-image:url(../images/high/header.png);
	z-index:5;
	position: relative;
	}
.headerPanel p {
	background-image:url(../images/high/icon-quotation.gif);
	}
/*header end here*/


/* ========================================= body panel start here ========================================= */
#mainContainer {
	background:url(../images/high/crnr-body-lft.gif) no-repeat 0 100% #232323;
	color:#fff;
	}
#mainContainer .right {
	background-image:url(../images/high/crnr-body-rt.gif);
	}

/*sublinks*/
.sublinks {
	background:#232323;
	color:inherit;
	}
.sublinks ul li a {
	background:url(../images/high/arrow-tabs.gif) no-repeat 100% 0 #000;
	color:#fff600;
	}
.sublinks ul li a:hover, .sublinks ul li a.active {
	background:url(../images/high/arrow-tabs.gif) no-repeat 100% 100% #fff600;
	color:#000!important;
	}
/*sublinks*/

/* ++++++++++++++++++++++ middle panel start here ++++++++++++++++++++++ */
.middlePanel {
	background:url(../images/high/mid-pan-btm.gif) no-repeat 0 100% #000;
	color:#fff;
	}
.middlePanel .top {
	background:none;
	}
.whatsNew h2, .organisations h2 {
	line-height:1.5em;
	color:#fff;
	background:#000;
	border:1px solid;
	}
/* ++++++++++++++++++++++ middle panel end here ++++++++++++++++++++++ */

/* ++++++++++++++++++++++ right panel start here ++++++++++++++++++++++ */
.rightPanel {
	background:#232323;
	color:#fff;
	}
.rightPanel .top {
	background:none;
	}

/*links panel start here*/
.linksPanel {
	background:#333;
	color:#FFFFFF;
}
.galleryPan
{
background-color:#333;
}
.opendatasites-info {
    background: none repeat scroll 0 0 #333333;
}
/* ========================================= footer start here ========================================= */
#footer {
	background-image:url(../images/high/footer.gif);
	}
#footer ul li {
	background-image:url(../images/high/divider-footer.gif);
	}
/* ========================================= footer end here ========================================= */

/* +-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+- styles for inner pages start here +-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+- */
/*header*/
.innerPages .headerPanel {
	background-image:url(../images/high/header-inner.png);
	}
/*header*/


/*tab panel*/
.tabPanel ul.tabs li a {
	color:#fff600;
	background-color:inherit;
	}
.tabPanel ul.tabs li a:hover, .tabPanel ul.tabs li a.active {
	color:#fff!important;
	background-color:inherit;
	}
.tabPanel ul.tabs li a.vision, .tabPanel ul.tabs li a.mission {
	background-image:url(../images/high/tab-vision.gif)!important;
	}

.tabPanel .container {
	border-color:#7e7e7e!important;
	}
/*vision*/
.tabPanel .vision, .tabPanel .mission {
	background:#000;
	color:#fff;
	border-color:#7e7e7e;
	}
.tabPanel .vision span, .tabPanel .mission span {
	background-image:url(../images/high/crnrs-vision.gif);
	}
.tabPanel .vision p, .tabPanel .mission p {
	background:url(../images/high/quotation-mission.gif) no-repeat 0 0;
	}
/*vision*/
/*tab panel*/


.subMenus ul li a:hover, .subMenus ul li a.active {
	color:#fff!important;
	background-color:transparent;
	}
#contentPanel .containers {
    background: none repeat scroll 0 0 #252525!important;
}
#big-catalog-panel {
    background-color: #000!important;
}
/* Added for datasetcatalog */
select{
background-color: #000000 !important;
}
#small-catalog-panel{
 background: -moz-linear-gradient(#000,#000) repeat scroll 0 0 transparent !important;
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000',GradientType=0 ); /* IE6-8 */
}
#small-catalog-panel{
 background: none repeat scroll 0 0 #000000 !important;
}
#big-catalog-panel .suggest-cp a.btn{
 background-color: #000!important;
}
.footerContainer{
    background:url(images/bg-footer-container-high.gif) repeat-x 0 0 #252525!important;
}
.footerContainer .blocks li {
	background:url(images/blts-footer-contrast.gif) no-repeat 0 0.5em;
}
.footerContainer .blocksPanel ul li ul li.leaf {
	background:url(images/blts-footer-contrast.gif) no-repeat 0 0.5em;
}
/*Added for Metrics Page*/
.even .item{
background-color:#111111 !important;
}
#contact-mail-page, #feedback-form, #web-tellafriend-form, #user-login, #node-form, #print-mail-form{
	background: none repeat scroll 0 0 #252525 !important;
} 
#web-contact-owner-form{
	background: none repeat scroll 0 0 #333333;
}
#web-contact-owner-form-errors.error{
	background: none repeat scroll 0 0 #333333 !important;
}
#ratings-form-errors.error{
	background: none repeat scroll 0 0 #333333 !important;
}
textarea{
	color: #000000 !important;
}
#contact-mail-page #edit-submit,#feedback-form #edit-submit, #web-tellafriend-form #edit-submit,.form-submit,.metrics-datasetreport-select #submit_btn ,.metrics-highvalue-select #submit_btn, #edit-preview {
	background: none repeat scroll 0 0 #000;
	border: 1px solid;
}
#contact-mail-page #edit-submit:hover,,#feedback-form #edit-submit:hover, #web-tellafriend-form  #edit-submit:hover,.form-submit:hover{
	background: none repeat scroll 0 0 #222222;
	border: 1px solid;
}

/*Node TPL CSS changes starts here*/
.page-title-border{
	background: url("images/header-border-contrast.png") repeat scroll 0 0 transparent !important;
}
/*Node TPL CSS changes ends here*/
/*css for sitemap starts here*/
#site-map .site-map-box ul li ul li {
    background: url("images/blts-footer-contrast.gif") no-repeat scroll 0 0.5em transparent !important;
}
/*css for sitemap ends here*/
/*Front Page Blocks CSS starts here*/
#mainContent .blocks{
	background: none repeat scroll 0 0 #333333;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#333333', endColorstr='#333333',GradientType=0 ); /* IE6-8 */
}
.banner-right {
    background: none repeat scroll 0 0 #333333;
}
/*Front Page Blocks CSS ends here*/
#quicktabs-catalog_tab  .view-content div{
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#333333', endColorstr='#333333',GradientType=0 ); /* IE6-8 */
}
#at15s, #at15s * {
    color: #000000 !important;
}
#at16pi, #at16pi * {
    color: #000000 !important;
}
#at_hover .at_item:hover, #at_hover .at_item.athov, #at16ps .at_item:focus, #at_share .at_item:hover, #at_share .at_item.athov{
	background: none repeat scroll 0 0 #F2F2F2 !important;
	border: 1px solid #E5E5E5 !important;
}
#at_share .at_item{
	border: 1px solid #FFFFFF !important;
}
/* css for error msges on forms */
div.error, tr.error{
background: none repeat scroll 0 0 #252525 !important;
color: #FF0000!important;
}
div.error li {
    color: #E2E2E2 !important;
}
/* css for error msges on forms ends here */
/*Flags background starts here*/
.countrydatasites_flags_outer {
    background: url("images/countryflags-stage-bg.png") repeat-y scroll center 0 #333333;
}
/*Flags background ends here*/
ul.quicktabs_tabs.quicktabs-style-zen li a span {
    color: #FFF600!important;
}
ul.quicktabs_tabs.quicktabs-style-zen li.active a span{
	background: none repeat scroll 0 0 #555555;
}
ul.quicktabs_tabs.quicktabs-style-zen li a span{
	background: none repeat scroll 0 0 #888888;
}
.faq-question a {
    color: #E2E2E2 !important;
    font: bold 1.1em Arial,Helvetica,sans-serif;
    text-decoration: none !important;
}

/*Metrics Menu*/
.metrics-menu ul.nice-menu a,.catalog-tabs-menu ul.catalog-tabs a{
    background-color: #333333;
}
.metrics-menu ul li a:hover, .metrics-menu ul li a.active,.metrics-menu ul li a:focus,.catalog-tabs-menu ul li a:hover,.catalog-tabs-menu ul li a.active,.catalog-tabs-menu ul li a:focus {
    background-color: #757575 !important;
}
/*CSS for Featured Gallery starts here*/
.imageflow {
    background: none repeat scroll 0 0 #333333;
    border: 2px solid #9f9fa1;
    border-radius: 8px 8px 8px 8px;
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: -moz-linear-gradient(center top , #9F9FA1 0%, #000000 100%) repeat scroll 0 0 transparent;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#9F9FA1), color-stop(100%,#000000)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #9F9FA1 0%,#000000 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #9F9FA1 0%,#000000 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #9F9FA1 0%,#000000 100%); /* IE10+ */
	background: linear-gradient(top, #9F9FA1 0%,#000000 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9F9FA1', endColorstr='#000000',GradientType=0 ); /* IE6-8 */
}
.caption
{
margin-top:104px !important;
font-size:152%;
color: #E2E2E2 !important;
}
/*CSS for Featured Gallery ends here*/

/* CSS for heaader Panel starts*/
#headerPanel {
    background: none repeat scroll 0 0 #000000;
	filter: none !important;
	
	/*box shadow propoerties*/
	-webkit-box-shadow: 0px 2px 0px 0px #000000 !important;
	-moz-box-shadow: 0px 2px 0px 0px #000000 !important;
	box-shadow: 0px 2px 0px 0px #000000 !important; 
	/*box shadow propoerties*/
}
/* CSS for heaader Panel End*/
/* CSS for Main Navigation Hover Panel starts*/
#mainNav ul li a:hover, #mainNav ul li a.active,#mainNav ul li a:focus  {
    background: none repeat scroll 0 0 #000000;
	filter: none !important;
}

#mainContent a.blue, #mainContent a.green {
    background: none repeat scroll 0 0 #000000;
	filter: none !important;
}
.ideasPan h2 {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: -moz-linear-gradient(center top , #888888 0%, #333333 100%) repeat scroll 0 0 transparent;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#888888), color-stop(100%,#333333)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #888888 0%,#333333 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #888888 0%,#333333 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #888888 0%,#333333 100%); /* IE10+ */
	background: linear-gradient(top, #888888 0%,#333333 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#888888', endColorstr='#333333',GradientType=0 ); /* IE6-8 */
    border-color: #E2E2E2;
    border-radius: 6px 6px 0 0;
    border-style: solid;
    border-width: 2px 2px 1px;
    box-shadow: 0 1px 0 0 #000000;
    color: #FFFFFF;
    font: 2em/1.4em Arial,Helvetica,sans-serif;
    margin-bottom: 15px;
    padding: 4px 10px;
    text-shadow: 1px 1px 2px #000000;
    text-transform: uppercase;
}
.ideasPan {
    background: none repeat scroll 0 0 #333333;
    border: 3px solid #E2E2E2;
    border-radius: 8px 8px 8px 8px;
    color: #FFFFFF;
}
.ideasPan h3 {
    border-bottom: 1px solid #E2E2E2;
    border-top: 1px solid #E2E2E2;
    box-shadow: 0 2px 0 0 #000000 !important;
    color: #FFFFFF;
    font: 2em/1.4em Arial,Helvetica,sans-serif;
    padding: 2px 10px;
}
#header .views-row-odd{
	filter: none !important;
}
/* CSS for Main Navigation Hover End*/
/*Css for What's new page*/
#mainContent .whats-new-block  {
    background: none repeat scroll 0 0 #333333;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#333333', endColorstr='#333333',GradientType=0 ); /* IE6-8 */

}

/*Css for What's new page ends here*/

/*css for search and catalog page  starts here */

.ds-list .ds-list-head{
	background: #333;
			}
.small-catalog-panel  h2 {
	background: none repeat scroll 0 0 #333;
    }

  .small-catalog-panel{
	background:none repeat scroll 0 0 #000000;
  }

   .apachesolr-showhide
{
	background: none repeat scroll 0 0 #333;
}	  
  #search-form
{	background: none repeat scroll 0 0 #333;
}

.suggest-label a{
 background: none repeat scroll 0 0 #000000 !important;
 color:#fff600 !important;
 
}
#search-form  .form-item  .form-text
{
   height: 24px;
}

#apachesolr-config-advancedsearch
{
 background:#252525;
 }
 
#apachesolr-config-advancedsearch .form-text
{ 
  background:#ffffff !important;
}
#apachesolr-config-advancedsearch select
{
background: none repeat scroll 0 0 #ffffff !important;
}

#apachesolr-config-advancedsearch  .form-submit
{
 background: none repeat scroll 0 0 #000000;
border: 1px solid;
}

#apachesolr-config-advancedsearch  .form-submit:hover
{
background: none repeat scroll 0 0 #a1a1a1;
}

.big-catalog-panel select
{
background: none repeat scroll 0 0 #ffffff !important;
color:#000000
}
.big-catalog-panel select option
{
color:#000000

}
.sort-select-box select
{
background:none repeat scroll 0 0 #ffffff !important;
color:#000000 !important; 
}
.sort-select-box select option
{
color:#000000 !important; 
}

.bottom-page-results select 
{
background:none repeat scroll 0 0 #ffffff !important;
color:#000000 !important;
}
.bottom-page-results select option
{
color:#000000 !important
}
.type
{
  background:#000000;
}
.ac_results li
{
	background: none repeat scroll 0 0 #000000 !important; 
}
  /*css for search and catalog page  ends here */
.hyperlink,a.hyperlink{
	color:#FFF600!important;
}
.linktous th {
    background: none repeat scroll 0 0 #252525;
}

.dataset .fieldgroup h2{
	background:#595959 !important;
	padding:3px 0 3px 8px;
	}	

.dataset .field:hover,.feedback .field:hover{
	background:#666666;
	}

.ds-list-head-new ,.ds-list-item-new-summary,.ds-list-head-new-center,.ds-list-head-new-last,.ds-list-head-new-first,#block-admin-display-form th{
    background: none repeat scroll 0 0 #333333 !important;
}
.ds-list-item-new ,.ds-list-item-new-center ,.ds-list-item-new .active , .agency-bgcolor {
    background: none repeat scroll 0 0 #000000!important;
}

.containers #feedback-comment-form {
    background: none repeat scroll 0 0 #333333;
}
#block-vrm_customization-0 #node-form{
	background: none repeat scroll 0 0 #333333 !important;
}
.ratings-block {
    background: none repeat scroll 0 0 #333333;
}
#tabs-block ul.list li {
    background: none repeat scroll 0 0 #999999;
	color: #FFF600 !important;
}
.captcha .recaptcha_theme_red span#recaptcha_instructions_image {
    color: #000000!important;
}
.captcha .recaptcha_theme_red input#recaptcha_response_field {
    background: none repeat scroll 0 0 #FFFFFF;
}
.containers #comments {
    background: none repeat scroll 0 0 #333333;
}
.embed-block {
    background: none repeat scroll 0 0 #333333;
}
.metrics-datasetreport-select select,.metrics-datasetreport-select option ,.metrics-result-per-page-dropdown select,.metrics-result-per-page-dropdown option ,.metrics-highvalue-select select,.metrics-highvalue-select  option{
color:#E2E2E2 !important;
background: none repeat scroll 0 0 #000000;
}
.econf-block .block .field input[type="text"] {
    color: #FFFFFF!important;
}
input.form-submit.disabled {
    background-color: #333333;
}
.max-size-message{
    color:#FF0000!important;
}
.econf-block-selected-color {
    background:none repeat scroll 0 0 #CCCCCC !important
}
.econf-block .block div.small, .econf-block .block div.medium, .econf-block .block div.large {
    background:none repeat scroll 0 0 #222222;
}
li.comment_reply a {
color:#FFF600 !important;
background-color: inherit;
}
.category-wise-chart td.bgcolor{
background:#FFFFFF;
}
/*Added for preview*/
#boxes #dialog {
    background: none repeat scroll 0 0 #333333 !important;
}
/*Added for preview*/
.download-stat{
	background: none repeat scroll 0 0 #333333;
}
.anchor-links a {
    background: none repeat scroll 0 0 #555555;
	color:#ffffff;
	outline-color: #FFF600;
	}
.suggest-form{
	background: none repeat scroll 0 0 transparent;
}


#contentPanel .ods-list-item .item li .type{    
    background: none repeat scroll 0 0 #656565! important;
    }
	
table.learn-table td{
		background:#5D5D5D;
		}
		
/*Retain Filters fix for opera browser */
#edit-apachesolr-search-retain-filters,#web-contact-owner-form #edit-cc { background:#FFFFFF;}		

#map *, .contrast-mode-map *{
	color:#000000 !important;
}

#map a, #map a:hover, #map a:active{
	color:#022C99 !important;
}

.contrast-mode-map a, .contrast-mode-map a:hover, .contrast-mode-map a:active{
	color:#022C99 !important;
}

#recaptcha_area  *{
	color:#000000 !important;
}
#recaptcha_area a, #recaptcha_area a:hover, #recaptcha_area a:active{
	color:#022C99 !important;
}
#search-theme-form input.form-submit ,#search-form input.form-submit{background: none repeat scroll 0 0 #A0A0A0;}
#big-catalog-panel table tbody tr td, #big-catalog-panel table tbody tr {background:#000000 !important;}
#views-exposed-form-Catalogs-Search-page-1{ background:none repeat scroll 0 0 #333333;}
.econf-block .block input[type="text"]{
color:#FFFFFF !important;
}
.metrics-visitorstats-table-heading {
    color: #E2E2E2 !important;
}
#linktous .head{
background:#2B2B2B;
}