@charset "UTF-8";
/* CSS Document */

*,html,body {margin:0;padding:0}
html {font-family:Arial,Helvetica,sans-serif;}
body {font-size:81.25%;font-family:Arial,Helvetica,sans-serif;color:#666;background:#fff url(/images/body-bg.jpg) repeat-y center top;line-height:1.23em;}
a {color:#036;text-decoration:none;}
.content a {font-weight:bold;}
a:hover {text-decoration:underline;}
img {border:0;}
h1, h2, h3 {font-family:Georgia,"Times New Roman",Times,serif;font-weight:bold;margin:0;padding:0;}
h1 {font-size:20px;margin:10px 0 10px 0;}
h2 {font-size:18px;margin:5px 0 5px 0;}
h3 {font-size:18px;}
h2.smaller, h3.smaller {font-size:14px;}
caption {text-align:left;}
p {padding-bottom:1em;}
ul.format li {list-style-type:square; padding-bottom: 10px; list-style-position: outside;margin-left:15px;}
ol.format li {padding-bottom: 10px;list-style-type:numeric; list-style:outside;margin-left:30px;}

.content {width:940px;min-height:300px;margin:0 auto;padding:10px 0 10px 0;text-align:left;}
.content-wide	{padding:20px 20px 20px 20px; position:relative; line-height:1.5em;}  /* communities */
.catheader2		{color:#3c3d41; padding:3px; border-top:#c3c3c3 solid 1px; background-color:#ebebeb; width:50%; font-size:11px; vertical-align:middle; text-align:center; white-space:nowrap; font-weight: bold;} /* communities*/
.catheader3		{color:#3c3d41; padding:3px 20px; border-top:#c3c3c3 solid 1px; background-color:#ebebeb; font-size:11px; vertical-align:middle; text-align:left; white-space:nowrap;} /* communities */

.row-gray		{background-color:#ebebeb; padding:7px 5px; font-size:11px; line-height:1.1em; vertical-align:middle; text-align:center;} /* communities */
.map			{font:11px/1em Arial, Helvetica, sans-serif; font-weight:normal;} /* communities */

.small			{font:9px/1.4em Arial, Helvetica, sans-serif; font-weight:normal;} /* communities */

.votes			{color:#af3a39; font:9px/14px Arial, Helvetica, sans-serif;} /* communities */


/* detail page communities */
.detail			{padding-bottom:20px;}
.detail-right	{width:353px; float:right;}
.detail-left	{float:left;}
.pad-left 		{padding-left: 70px;}
.pad-top 		{padding-top: 10px;word-wrap:break-word;}
.detailhead1	{width:180px;font-weight:bold; color:#630; font-size:12px; padding-right:15px; padding-left:20px; text-align:left; vertical-align:top; white-space:nowrap;}
.detailhead2	{font-weight:bold; color:#930; font-size:11px; padding-bottom:10px;}
.detailhead2 h3 {margin:0px;color:#930;font:11px "Lucida Sans Unicode","Lucida Grande",Verdana,Arial,Helvetica,sans-serif;font-weight:bold;}
.details-table	{width:680px;}
.download-table	{width:230px;}
.sidebar		{width:230px;}
.sidepad		{float:right; padding-left:0px;}
.rating			{padding:20px 0 0 20px;}
.captcharow		{padding:20px 0 0 0;}
.ratetitle		{color:#C58325; font-size:11px; font-weight:bold; padding-bottom:5px; text-align:center; vertical-align:top; white-space:nowrap;}
.rateheader		{color:#630; padding:5px 0 2px 0; border-top:1px solid #ebebeb; text-align:left; vertical-align:top; white-space:nowrap; font-weight: bold;}
.ratetable		{padding-right:5px;}
.ratepad		{padding:5px 0 2px 0; border-top:1px solid #ebebeb; text-align:center; vertical-align:top; white-space:nowrap;}
.starwidth		{width:84px;}
.button			{padding:10px 28px 0 0; text-align:right;}
.tablepad		{padding-top:5px; padding-bottom:4px; border-bottom:1px solid #ebebeb; text-align:left; vertical-align:top;}
.tablepad-top	{padding:5px 0; border-bottom:1px solid #ebebeb; border-top:1px solid #ebebeb}
.categories		{padding-bottom:30px; width:680px;}
.detail-header	{background:#292a2e url(../images/catheader-back.gif) repeat-x; color:#fff; padding:3px 3px 3px 20px; text-transform:uppercase; font-weight:bold;}
.detail-header h2 {margin:0px;color: #fff !important;font:12px/1.4em "Lucida Sans Unicode","Lucida Grande",Verdana,Arial,Helvetica,sans-serif;font-weight:bold;}
.data			{width:480px;}
.toggletext 	{font-weight:bold;}
.details-format	{color:#3c3d41;}
.commentbox		{padding:20px 0 0 20px; border-left:2px solid #ebebeb;}
div.results {color: #358ad5; font-size: 12px; padding-top: 10px;}
 
/* details page popups */
#popupdet p {
	position:relative;
	margin:0;
	padding:0;
	font-size:11px;
	font-weight:bold;
}
#popupdet span {
	display:none;
}
#popupdet a {
	color:#3c3d41;
}
#popupdet a:hover {
	color: #c58325;
	text-decoration: none;
}
#popupdet a:hover span {
	display:block;
	position:absolute;
	left:-50px;
	top:12px;
	width:176px;
	height:200px;
	border:0;
	text-align:center;
}
#row1 {
	position:relative;
	z-index:50;
}
#row2 {
	position:relative;
	z-index:49;
}
#row3 {
	position:relative;
	z-index:48;
}
#row4 {
	position:relative;
	z-index:47;
}

