@charset "utf-8";
/* CSS Document */
body {
	color: #ffffff;
}
* {
	color: #DFDFDF !important;
}
a {
    background-color: inherit;
    color: #FFF600 !important;
}
.breadcrumb ul li {	
	background: url("images/blt-bread_contrast.png") no-repeat scroll 0 0.35em transparent!important;
	color: #A0A0A0 !important;
}

.accessPan ul li.contrast a.light {
	color: #000000 !important;
}
#contentPanel ,.contact #bodyPanel .mid{
    background: none repeat scroll 0 0 #000000!important;
}

.contact #contentPanel form label {
	color: #dfdfdf !important;
}
#contentPanel .mainContent .mainHeading h1 {
	color: #ffffff !important;
}
#bodyPanel {
    background: url("images/bg-body_contrast.png") repeat-x scroll 0 0 #000 !important;
}
.contact #contentPanel form label span {
	color: #7d7d7d !important;
}
.contact #contentPanel form input,.contact #contentPanel form textarea {
    background: none repeat scroll 0 0 #0b0b0b!important; 
	color:#939393;  
}

.mainContainer .top .mid, .bottomLink .mid, #contentPanel .contentArea .mid {
    background: none repeat scroll 0 0 #5C5C5C !important;
}
.breadcrumb {
	border-bottom: 1px solid #212121!important;	
}

.pageIcons ul li {
	border-left: 2px solid #7d7d7d!important;	
}
.pageIcons ul li:first-child {
	border-left: 0px solid #7d7d7d!important;	
}
.mainContainer .bottom {
    background: url("images/btm-gradient_contrast.gif") repeat-x scroll 0 0 transparent!important;
}
#navPanel,#navPanel ul li a {
	background: url("images/nav-bar_contarst.png") repeat-x scroll 0 0 #737473!important;
}

#navPanel ul ul li a,#navPanel ul ul li.first a{
	 background: url("images/bg-sub_contrast.png") repeat scroll 0 0 transparent!important;
}

.mainContainer .top {	
	background: url("images/top-gradient_contrast.png") repeat-x scroll 0 100% transparent !important;
}
.bottomLink {	
	background: url("images/top-gradient_contrast.png") repeat-x scroll 0 0 transparent!important;
}

#navPanel ul li a:hover, #navPanel ul li a.active {
	background:url(images/nav-bar-h_contrast.png) repeat-x 0 0 #530000!important;
}
#leftPanel .filters ul li a {
    background: url("images/blts_contrast.png") no-repeat scroll 0 0.5em transparent!important;
}


#navPanel ul li.first a{
	background: url("images/icon-home_contrast.png") no-repeat scroll 50% 0 transparent!important;
}
#navPanel ul li.first a:hover,#navPanel ul li.first a.active {
	background:url("images/icon-home_contrast.png") no-repeat 50% 100%!important;
	
}
.contact #contentPanel input.submitFeedback {
	 background: url("images/btn-submit-feedback_contrast.png") no-repeat scroll 0 0 transparent!important;
}
#leftPanel {
	background: none repeat scroll 0 0 #242424!important;
}
#leftPanel .modules {
	background: none repeat scroll 0 0 #242424!important;
}

#leftPanel .modules h2 {
	color: #fff!important;
}
#leftPanel .filters ul li {
	border-bottom: 1px solid #383838!important;
    border-top: 1px solid #383838!important;
}
#leftPanel .filters {
	border-bottom: 1px solid #383838!important;
    border-top: 1px solid #383838!important;
}

#leftPanel .searchPan form {
    background: url("images/srch-box_contrast.png") repeat-x scroll 0 0 #242424!important;
}

#leftPanel .searchPan form input {
	 background: none repeat scroll 0 0 #0B0B0B !important;
    border: 1px solid #939393!important;
	color:#939393!important;
}
#leftPanel .searchPan form input.btn {
	 background: url("images/srch-btn_contrast.png") no-repeat scroll 0 0 transparent!important;
}

#leftPanel .searchPan,.hbdr {
    background: url("images/bdr-srch-pan_contrast.png") repeat-x scroll 0 100% transparent!important;
	
}

#leftPanel .modules h3 {	
	 background: url("images/hdng-bar-lft_contrast.png") repeat-x scroll 0 100% #4c4c4c!important;
	  color: #ffffff!important;
	  border: 1px solid #939393!important;
}

.tableData table th {
	background: none repeat scroll 0 0 #212121!important;
	 color: #DFDFDF !important;
	 border-color:#000000!important;
}
.tableData p {
	 color: #a1a1a1!important;
}
.tableData table td {
    border-bottom: 1px solid #212121!important;
    border-top: 1px solid #212121!important;
}
.tableData table tr.even {
    background: none repeat scroll 0 0 #242424 !important;
   color: #a1a1a1!important;
}
.tableData table tr:hover {
	background: none repeat scroll 0 0 #4C4C4C !important;
	 color: #a1a1a1!important;
}


#footer a.logo {
	
	background: url("images/logo-footer_contrast.png") no-repeat scroll 0 0 transparent!important;
}
#footer p {	
	color:#666666!important; 
}
#footer ul li {
    background: url("images/divider-footer_contrast.png") no-repeat scroll 0 0.2em transparent!important;
}
