/* CSS Document */
body {
	margin:0;
	padding:0;
	background:/*url(images/bg.png) repeat-x 0 100% */#fffffe;
	color:#000;
	font-family:Arial, Helvetica, sans-serif;
	font-size:62.5%;
	border-bottom:26px solid #000;
	}

/* ========================================= general styles start here ========================================= */
html {
	height:100%;
	}
* {
	margin:0;
	padding:0;
	font-weight:normal;
	font-family:Arial,Helvetica,sans-serif !important;
	}

img {
	border:none;
	}
h1, h2, h3, h4 {
	font-weight:bold;
	}
/* ++++++++++++++++++++++ paragraph ++++++++++++++++++++++ */
p {
	margin:0 0 15px 0;
	font-size:1.2em;
	line-height:1.5em;
	color:#000;
	background-color:transparent;
	}
p span {
	font-weight:bold;
	}
/* ++++++++++++++++++++++ paragraph ++++++++++++++++++++++ */

/* ++++++++++++++++++++++ anchors ++++++++++++++++++++++ */
a {color:#022C99;background-color:inherit;text-decoration:none;}
a:link {color:#022C99;}
a:visited {color:#022C99;} /* visited link */
a:active {color:#022C99;}  /* selected link */
/* ++++++++++++++++++++++ anchors ++++++++++++++++++++++ */

/* ++++++++++++++++++++++ list styles ++++++++++++++++++++++ */
ul {
	list-style-type:none;
	}
ul.lists {
	height:100%;
	overflow:hidden;
	}
ul.lists li {
	padding:0 0 0 18px;
	font-weight:bold;
	font-size:1.1em;
	line-height:1.82em;
	color:#383939;
	background-color:transparent;
	}
ul.lists li a {
	color:#383939;
	background-color:transparent;
	text-decoration:none;
	}
ul.lists li a:hover {
	color:#000;
	background-color:transparent;
	}
/* ++++++++++++++++++++++ list styles ++++++++++++++++++++++ */

.active {
	cursor:text!important;
	}
.alpha {
	margin-left:0!important;
	}
.beta {
	margin-right:0!important;
	margin-top:22px!important;
	}
.spacer {
	font-size:0;
	line-height:0;
	clear:both;
	}

.hbdr {
	background:url(images/h-bdr.png) repeat-x 0 100%;
	padding-bottom:14px;
	}
/* ========================================= general styles end here ========================================= */

/* ========================================= top panel start here ========================================= */
#topPanel {
	background:#000000;
	color:#bababa;
	border-bottom:1px solid #363636;
	}
#topPanel .mid {
	width:998px;
	margin:0 auto;
	border-left:1px solid #404040;
	border-right:1px solid #404040;
	padding:0 0 0 10px;
	height:100%;
	overflow:hidden;
	}

/* ++++++++++++++++++++++ goi ++++++++++++++++++++++ */
.goi {
	display:inline;
	float:left;
	}
.goi a {
	background:url(images/flag.png) no-repeat 0 0;
	background-color:transparent;
	padding:0 0 0 28px;
	font-weight:bold;
	font-size:11px;
	line-height:26px;
	color:#bababa;
	text-transform:uppercase;
	text-decoration:none;
	}
.goi a:hover {
	color:#fff;
	background-color:transparent;
	}
/* ++++++++++++++++++++++ goi ++++++++++++++++++++++ */

/* ++++++++++++++++++++++ accessibility pan start here ++++++++++++++++++++++ */
.accessPan {
	display:inline;
	float:right;
	}
.accessPan ul {
	}
.accessPan ul li {
	border-left:1px solid #404040;
	padding:0 8px;
	font-size:10px;
	line-height:26px;
	color:#bab9b9;
	background-color:transparent;
	float:left;
	}
.accessPan ul li a {
	color:#bab9b9;
	background-color:transparent;
	text-transform:uppercase;
	float:left;
	}
.accessPan ul li a:hover {
	color:#fff;
	background-color:transparent;
	}

/*flags*/
.accessPan ul li.flags {
	display:inline;
	float:left;
	border:none;
	padding-left:0;
	}
.accessPan ul li.flags a {
	width:17px;
	height:18px;
	float:left;
	background-position:0 0;
	background-repeat:no-repeat;
	text-indent:-20000px;
	margin:4px 0 0 0;
	}
.accessPan ul li.flags a.one {
	background-image:url(images/flag-1.png);
	}
.accessPan ul li.flags a.two {
	background-image:url(images/flag-2.png);
	}
.accessPan ul li.flags a.three {
	background-image:url(images/flag-3.png);
	}
.accessPan ul li.flags a.four {
	background-image:url(images/flag-4.png);
	}
.accessPan ul li.flags a.five {
	background-image:url(images/flag-5.png);
	}
/*flags*/

/*color options*/
.accessPan ul li.colorOptions {
	border:none;
	padding-left:0;
	}
.accessPan ul li.colorOptions a {
	display:block;
	width:17px;
	height:7px;
	border-left:1px solid #91958f;
	border-left:1px solid #91958f;
	margin-top:9px;
	background-repeat:repeat-x;
	background-position:0 0;
	text-indent:-20000px;
	float:left;
	}
.accessPan ul li a.orange {
	background:url(images/orange.gif);
	}
.accessPan ul li a.green {
	background:url(images/green.gif);
	}
.accessPan ul li a.blue {
	background:url(images/blue.gif);
	}
.accessPan ul li.colorOptions a:hover, .accessPan ul li.contrast a:hover {
	text-decoration:none;
	}
/*color options*/

/*text resizing*/
.accessPan ul li.resize {
	}
.accessPan ul li.resize a {
	margin-left:3px;
	float:left;
	font-weight:bold;
	color:#fff;
	background-color:transparent;
	}
.accessPan ul li.resize a.small {
	font-size:11px;
	line-height:27px;
	}
.accessPan ul li.resize a.medium {
	font-size:12px;
	line-height:26px;
	}
.accessPan ul li.resize a.large {
	font-size:13px;
	line-height:25px;
	}
.accessPan ul li.resize a:hover {
	color:#dadada;
	background-color:transparent;
	}
/*text resizing*/

/*high contrast*/
.accessPan ul li.contrast {
	}
.accessPan ul li.contrast a {
	display:block;
	width:13px;
	height:12px;
	margin:6px 3px;
	float:left;
	font-size:12px;
	line-height:12px;
	text-align:center;
	border:1px solid #d5d5d5;
	}
.accessPan ul li.contrast a.dark {
	background:#000;
	color:#fff;
	}
.accessPan ul li.contrast a.light {
	background:#fff;
	color:#000;
	}
/*high contrast*/

.accessPan ul li a.rss {
	background:url(images/rss.png) no-repeat 0 0.2em;
	width:12px;
	height:12px;
	text-indent:-20000px;
	display:block;
	margin:7px 0;
	}
.accessPan ul li a.share {
	margin-left:10px;
	}
.accessPan ul li a.sitemap {
	background:url(images/sitemap.png) no-repeat 100% 0.6em;
	padding:0 22px 0 0;
	}
/* ++++++++++++++++++++++ accessibility pan end here ++++++++++++++++++++++ */
/* ========================================= top panel end here ========================================= */

/* ========================================= logo panel start here ========================================= */
#logoPanel {
	background:#000;
	color:#fff;
	}
#logoPanel .mid {
	width:1000px;
	margin:0 auto;
	background:url(images/header-right.png) no-repeat 100% 0;
	}
#logoPanel .left {
	background:url(images/header-left.png) no-repeat 0 0;
	padding:10px 92px 10px 174px;
	height:100%;
	overflow:hidden;
	}

/*logo start here*/
.logoPan {
	float:left;
	display:inline;
	}
.logoPan h1 a {
	display:block;
	width:217px;
	height:80px;
	text-indent:-20000px;
	text-decoration:none;
	background:url(images/logo.png) no-repeat 0 0;
	}
/*logo end here*/

/*search panel start here*/
.searchPan {
	display:inline;
	float:right;
	margin:22px 0 0 0;
	}
.searchPan form {
	}
.searchPan form input {
	background:url(images/search.png) no-repeat 0 0;
	color:#434b5e;
	background-color:transparent;
	font-size:11px;
	line-height:37px;
	font-weight:bold;
	float:left;
	width:132px;
	padding:0 0 0 15px;
	height:37px;
	border:none;
	}
.searchPan form input.form-submit {
	width:34px;
	height:37px;
	float:left;
	cursor:pointer;
	background:url(images/btn.png) no-repeat 0 0;
	text-indent:-20000px;
	}
/*search panel end here*/
/* ========================================= logo panel end here ========================================= */

/* ========================================= nav panel start here ========================================= */
#navPanel {
	background:url(images/nav-bar.gif) repeat-x 0 0 #737473;
	color:#010101;
	border-bottom:1px solid #0e1922;
	position: relative;
    z-index: 10000;
}
#navPanel .mid {
	width:998px;
	margin:0 auto;
	background:url(images/divider-nav.gif) no-repeat 100% 0;
	padding:0 2px 0 0;
}
#navPanel ul {
	display:inline;
	text-align:center;
	}
#navPanel ul li {
	display:inline;
	background:url(images/divider-nav.gif) no-repeat 0 0;
	padding:0 0 0 2px;
	float:left;
	position:relative;
	}
#navPanel ul li a {
	display:inline;
	padding:6px 17px;
	font-weight:bold;
	font-size:15px;
	line-height:30px;
	color:#010101;
	background:url(images/nav-bar.gif) repeat-x 0 0 #737474;
	text-transform:uppercase;
	cursor:pointer;
	}
#navPanel ul li a.down {
	background:url(images/menu-down-arrow.gif) no-repeat 85% 50%;
	}
#navPanel ul li.first a {
	display:block;
	//outline:none;
	padding:0 20px;
	background:url(images/icon-home.gif) no-repeat 50% 0;
	text-indent:-20000px;
	}
#navPanel ul li.first a:hover, #navPanel ul li.first a.active {
	background:url(images/icon-home.gif) no-repeat 50% 100%!important;
	//outline:none;
	cursor:pointer!important;
	}
#navPanel ul li a:hover, #navPanel ul li a.active,#navPanel ul ul li.first a:hover, #navPanel ul ul li.first a.active {
	color:#fff;
	background:url(images/nav-bar-h.gif) repeat-x 0 0 #530000!important;
	cursor:pointer!important;
	}

/*sub menu*/
#navPanel ul ul {
	display:none;
	position:absolute;
	left:0;
	top:18px;
	width:200px;
	}
#navPanel ul ul li {
	float:none;
	background-image:none;
	text-align:left;
	}
#navPanel ul ul li a, #navPanel ul ul li.first a {
	background:#fff;
	color:#000;
	font-size:1.2em;
	line-height:1.5em;
	display:block;
	text-indent:0;
	border-bottom:1px solid #313132;
	background:url(images/bg-sub.png) repeat 0 0;
	}
#navPanel ul ul li a, #navPanel ul ul li.first a{
	font-weight:bold;
	display:block;
	padding:5px 15px 5px 20px;
	background:url(images/arrow-sub.png) no-repeat 0.6em 0.6em;
	cursor:pointer;
	}
/*sub menu*/
/* ========================================= nav panel end here ========================================= */

/* ========================================= body panel start here ========================================= */
#bodyPanel {
	background:url(images/bg-body.png) repeat-x 0 0 #fffffe;
	}

#outerContainer {
	background:url(images/header-panel.jpg) repeat-x 0 0;
	padding:10px 0 0 0;
	height:100%;
	overflow:hidden;
	}
#bodyPanel .mid {
	background:url(images/body-mid.png) repeat-x 0 0 #bbc3a0;
	color:#000;
	width:1000px;
	margin:0 auto;
	}


/* ++++++++++++++++++++++ top part start here ++++++++++++++++++++++ */
/*#bodyPanel .top {
	background:#fff;
	color:#000;
	border:1px solid #9fab7a;
	padding:30px 40px;
	}*/
/* ++++++++++++++++++++++ top part end here ++++++++++++++++++++++ */


/* ++++++++++++++++++++++ bottom part start here ++++++++++++++++++++++ */
/*#bodyPanel .bottom {
	padding:30px 40px;
	}*/
/* ++++++++++++++++++++++ bottom part end here ++++++++++++++++++++++ */


/* ++++++++++++++++++++++ mainContainer start here ++++++++++++++++++++++ */
.mainContainer {
	height:100%;
	overflow:hidden;
	padding:0!important;
	}
.mainContainer .top {
	background:url(images/top-gradient.gif) repeat-x 0 100%!important;
	border:none;
	border-bottom:1px solid #5c5c5c;
	height:100%;
	overflow:hidden;
	padding:0 19px!important;
	}
.mainContainer .top .mid, .bottomLink .mid {
	height:14px!important;
	background:#5c5c5c!important;
	color:#fff;
	border:none!important;
	padding:0!important;
	width:auto!important;
	}

.mainContainer .bottom {
	background:url(images/btm-gradient.gif) repeat-x 0 0;
	height:100%;
	overflow:hidden;
	padding:15px 19px 30px 19px;
	border-top:1px solid #fff;
	}


/*link blocks start here*/
.linkBlocks {
	background:url(images/double-bdr-h.gif) repeat-x 0 100%;
	height:100%;
	overflow:hidden;
	}
.linkBlocks .topBdr {
	background:url(images/double-bdr-h.gif) repeat-x 0 0;
	padding:20px 0;
	height:100%;
	overflow:hidden;
	border:none;
	}
.linkBlocks .blocks {
	width:225px;
	float:left;
	margin:0 10px;
	}
.linkBlocks .blocks img {
	margin-bottom:10px;
	}
.linkBlocks .blocks .desc {
	}
.linkBlocks .blocks .desc p {
	margin-bottom:2px;
	font-size:1.1em;
	}
.linkBlocks .blocks .desc p span {
	width:70px;
	float:left;
	margin-right:3px;
	}
.linkBlocks .blocks .desc a.download {
	background:url(images/btn-download.gif) no-repeat 19px 0;
	padding:25px 0 0 0;
	font-size:1.1em;
	line-height:1.2em;
	color:#000;
	background-color:transparent;
	float:left;
	}
/*link blocks end here*/
/* ++++++++++++++++++++++ mainContainer end here ++++++++++++++++++++++ */

/* ++++++++++++++++++++++ bottom link start here ++++++++++++++++++++++ */
.bottomLink {
	background:url(images/btm-gradient.gif) repeat-x 0 0;
	border-top:1px solid #5c5c5c;
	width:auto!important;
	}
.bottomLink ul {
	padding:10px 0 0 0;
	}
.bottomLink ul li {
	background:url(images/divider-btm-link.gif) no-repeat 0 0;
	padding:0 8px;
	display:inline;
	}
.bottomLink ul li:first-child {
	background:none;
	padding-left:0;
	}
.bottomLink ul li a {
	font-weight:bold;
	font-size:1.1em;
	line-height:1.25em;
	color:#7d7d7d;
	background-color:transparent;
	}
.bottomLink ul li a:hover {
	color:#000;
	background-color:transparent;
	}
/* ++++++++++++++++++++++ bottom link end here ++++++++++++++++++++++ */
/* ========================================= body panel end here ========================================= */

/* ========================================= footer start here ========================================= */
#footer {
	width:964px;
	margin:15px auto 0 auto;
	height:100%;
	overflow:hidden;
	}
#footer .left {
	float:left;
	padding:10px 0 0 0;
	}
#footer ul {
	display:inline;
	}
#footer ul li {
	display:inline;
	padding:0 7px;
	background:url(images/divider-footer.gif) no-repeat 0 0.2em;
	}
#footer ul li:first-child {
	background:none;
	padding-left:0;
	}
#footer ul li a {
	font-weight:bold;
	font-size:1.1em;
	line-height:1.82em;
	color:#000;
	background-color:transparent;
	}
#footer ul li a:hover {
	text-decoration:underline;
	}
#footer p {
	font-size:1.1em;
	line-height:1.64em;
	color:#535a47;
	background-color:transparent;
	}
#footer p a {
	font-weight:bold;
	color:#535a47;
	background-color:transparent;
	}
#footer p a:hover {
	color:#000;
	background-color:transparent;
	text-decoration:underline;
	}
#footer a.logo {
	display:block;
	width:144px;
	height:75px;
	float:right;
	background:url(images/logo-footer.png) no-repeat 0 0;
	text-indent:-20000px;
	text-decoration:none;
	}
/* ========================================= footer end here ========================================= */


/* +=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+= styles for inner pages +=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+= */
.innerPages {
	}

.innerPages #bodyPanel .mid {
	background:none;
	width:1000px;
	margin:0 auto;
	}

/* ========================================= left panel start here ========================================= */
#leftPanel {
	width:227px;
	float:left;
	margin:0 2px 0 0;
	background:#dde1d4;
	color:#000;
	}

/* ++++++++++++++++++++++ modules start here ++++++++++++++++++++++ */
/*#leftPanel .modules {
	background:#dde1d4;
	color:#000;
	border:1px solid #020202;
	margin-bottom:1px;
	padding:0 1px 0 0;
	}*/

/*search panel start here*/
#leftPanel .searchPan {
	background:url(images/bdr-srch-pan.png) repeat-x 0 100%;
	padding:0 0 4px 0;
	margin:0;
	}
#leftPanel .searchPan form {
	background:url(images/srch-box.png) repeat-x 0 0 #c7ccbe;
	color:#000;
	border-bottom:1px solid #b5ad97;
	padding:14px;
	padding-top:15px;
	height:100%;
	overflow:hidden;
	}
#leftPanel .searchPan form input {
	background:url(images/srch-bar.png) repeat-x 0 0 #eef0ec;
	color:#000;
	border:1px solid #999d91;
	width:139px;
	height:30px;
	font-size:12px;
	line-height:30px;
	margin:0 4px 0 0;
	padding:0 9px;
	}
#leftPanel .searchPan form input.btn {
	width:32px;
	height:32px;
	margin:0;
	background:url(images/srch-btn.png) no-repeat 0 0;
	cursor:pointer;
	}
/*search panel end here*/

#leftPanel .container {
	border: 1px solid #020202;
	padding:14px 10px;
	height:100%;
	overflow:hidden;
	}
/*#leftPanel h2 {
	font-size:1.3em;
	line-height:1.5em;
	font-weight:bold;
	text-transform:uppercase;
	color:#000;
	background-color:transparent;
	padding:0 0 0 16px;
	margin-bottom:10px;
	}*/
#leftPanel .container h2 {
	background:url(images/hdng-bar-lft.png) repeat-x 0 0 #b5bca9;
	color:#000;
	border:1px solid #eff1eb;
	padding:3px 14px 3px 13px;
	margin-bottom:12px;
	font-weight:bold;
	font-size:1.3em;
	line-height:1.35em;
	}
#leftPanel .container .block {
	height:100%;
	overflow:hidden !important;
	margin-bottom:18px;
	}

/*filters start here*/
#leftPanel .item-list {
	border-top:1px solid #c5c0af;
	border-bottom:1px solid #f5f6f2;
	}
#leftPanel .item-list ul {
	padding:0;
	}
#leftPanel .item-list ul li {
	background:url("images/blts.png") no-repeat scroll 10px 0.5em transparent;
	border-top:1px solid #f5f6f2;
	border-bottom:1px solid #c5c0ae;
	padding:0 16px 0 20px;
	list-style: none outside none;
	margin: 0;
	color: #383939;
    font-size: 1.1em;
    font-weight: bold;
	}
#leftPanel .item-list ul li a {
	display:inline-block;	
	padding:2px 0 4px 0;
	font-weight:bold;
	line-height:1.2em;
	color:#383939;
	background-color:transparent;
	}
#leftPanel .item-list ul li a:hover, #leftPanel .item-list ul li a.active {
	color:#000;
	background-color:transparent;
	}

/*sublinks*/
#leftPanel .item-list ul ul {
	margin:0;
	}
#leftPanel .item-list ul ul li {
	border:none;
	padding: 0 0 0 8px;
	}
#leftPanel .item-list ul ul li a {
	background:url(images/blt-sub-links.gif) no-repeat 0 0.63em;
	font-weight:normal;
	text-decoration:underline;
	}
#leftPanel .item-list ul ul li a:hover {
	text-decoration:none;
	}
/*sublinks*/
/*filters end here*/
/* ++++++++++++++++++++++ modules end here ++++++++++++++++++++++ */
/* ========================================= left panel end here ========================================= */

/* ========================================= content panel start here ========================================= */
#contentPanel {
	width:767px;
	float:right;
	background:#fff;
	color:#000;
	border:1px solid #676767;
	padding:3px 1px 15px 1px;
	position:relative;
	}
#contentPanel .mainContent {
	/*border-bottom:10px solid #dcdde1;
	padding-bottom:100px;*/
	}

/* ++++++++++++++++++++++ breadcrumb start here ++++++++++++++++++++++ */
.breadcrumb {
	border-bottom:1px solid #e0e6d5;
	padding:0 19px 3px 19px;
	margin-bottom:3px;
	}
.breadcrumb ul {
	}
.breadcrumb ul li {
	display:inline;
	background:url(images/blt-bread.png) no-repeat 0 0.35em;
	padding:0 3px 0 11px;
	font-size:1.1em;
	color:#202020;
	background-color:transparent;
	}
.breadcrumb ul li:first-child {
	background-image:none;
	padding-left:0;
	}
.breadcrumb ul li a {
	font-weight:bold;
	color:#202020;
	background-color:transparent;
	}
.breadcrumb ul li a.home {
	text-transform:uppercase;
	}
.breadcrumb ul li a:hover {
	color:#000;
	background-color:transparent;
	}
/* ++++++++++++++++++++++ breadcrumb end here ++++++++++++++++++++++ */

/* ++++++++++++++++++++++ main heading start here ++++++++++++++++++++++ */
#contentPanel .mainContent .mainHeading {
	height:100%;
	overflow:hidden;
	margin-bottom:2px;
	}
#contentPanel .mainContent .mainHeading h1 {
	display:inline;
	font-weight:bold;
	font-size:2.2em;
	line-height:1.5em;
	color:#000;
	background-color:transparent;
	padding:0 19px;
	}
#contentPanel .mainContent .mainHeadingGeneral h1 {
	display:inherit!important;
	padding:0 19px 20px !important;
}
/* ++++++++++++++++++++++ main heading end here ++++++++++++++++++++++ */

/* ++++++++++++++++++++++ content area start here ++++++++++++++++++++++ */
#contentPanel .contentArea {
	padding:0 19px;
	height:100%;
	overflow:hidden;
	}
/* ++++++++++++++++++++++ content area end here ++++++++++++++++++++++ */

/* ++++++++++++++++++++++ table start here ++++++++++++++++++++++ */
/*.tableData {
	margin-left:-5px;
	}
.tableData table td.head {
	border:none!important;
	}
.tableData table td {
	border-bottom:1px solid #d4d4d4!important;
	padding-left:4px;
	}
.tableData h3 {
	background:#dedede;
	color:#000;
	border:1px solid #d0d6c6;
	padding:0 10px;
	font-weight:bold;
	font-size:1.4em;
	line-height:2em;
	}*/

/*table details*/
.tableData p {
	font-size:1.2em;
	line-height:1.37em;
	color:#202020;
	background-color:transparent;
	padding:8px 10px 0 10px;
	}
/*table details*/
/* ++++++++++++++++++++++ table end here ++++++++++++++++++++++ */
/* ========================================= content panel end here ========================================= */


/* +=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+= styles for contact page +=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+= */
.contact {
	}
.contact #bodyPanel .mid {
	background:#fff;
	color:#000;
	border:1px solid #676767;
	padding:0 0 25px 0;
	height:100%;
	overflow:hidden;
	}

.contact #contentPanel {
	width:auto!important;
	border:none;
	float:none;
	padding-bottom:0;
	}
.contact #contentPanel .mainContent {
	padding-bottom:0;
	border:none;
	}

/* ++++++++++++++++++++++ main heading start here ++++++++++++++++++++++ */
.contact .mainHeading {
	/*padding-left:253px;*/
	}

/*icons*/
.pageIcons {
	height:100%;
	overflow:hidden;
	margin-bottom:5px;
	}
.pageIcons ul {
	float:right;
	}
.pageIcons ul li {
	float:left;
	padding:0 18px;
	border-left:2px solid #e0e6d5;
	}
.pageIcons ul li:first-child {
	padding-left:0;
	border:none;
	}
.pageIcons ul li a {
	display:block;
	text-decoration:none;
	text-align:center;
	}
/*icons*/
/* ++++++++++++++++++++++ main heading end here ++++++++++++++++++++++ */

/* ++++++++++++++++++++++ main container area start here ++++++++++++++++++++++ */
.contact .containerArea {
	padding:0 0 12px 0;
	border-bottom:1px solid #e0e6d5;
	height:100%;
	overflow:hidden;
	}

/*left panel start here*/
.contact .leftPanel {
	width:230px;
	float:left;
	margin-right:17px;
	background:url(images/double-bdr.gif) repeat-x 0 100%;
	}

/*modules*/
.contact .leftPanel .modules {
	margin-bottom:10px;
	padding:16px 10px 16px 0;
	border:none;
	background-color:transparent!important;
	background:url(images/double-bdr.gif) repeat-x 0 0;
	}
.contact .leftPanel .modules h2 {
	background:url(images/blt-red-dbl.gif) no-repeat 0 0;
	padding:15px 0 0 0;
	margin:0 0 12px 0;
	font-weight:bold;
	font-size:1.4em;
	line-height:1em;
	color:#000000;
	background-color:transparent;
	text-transform:none;
	}
.contact .leftPanel .modules .content {
	}
/*modules*/
/*left panel end here*/

/*content panel start here*/
.contact .rightPanel {
	width:693px;
	float:left;
	padding:0;
	border:none;
	}
.contact .rightPanel p {
	color:#cd5709;
	background-color:transparent;
	font-weight:bold;
	font-size:1.1em;
	line-height:1.2em;
	}

/*contact form*/
.contact #contentPanel form {
	width:568px;
	}
.contact #contentPanel form div {
	margin-bottom:15px;
	height:100%;
	overflow:hidden;
	}
.contact #contentPanel form label {
	width:152px;
	font-weight:bold;
	font-size:1.3em;
	line-height:1em;
	color:#4c4c4c;
	background-color:transparent;
	float:left;
	}
.contact #contentPanel form label span {
	font-weight:bold;
	font-size:0.79em;
	line-height:1em;
	color:#cd5709;
	background-color:transparent;
	}
.contact #contentPanel form input {
	width:225px;
	height:28px;
	float:left;
	background:#f4f4f4;
	color:#000;
	border:1px solid #939393;
	}
.contact #contentPanel form textarea {
	width:408px;
	height:122px;
	float:left;
	background:#f4f4f4;
	color:#000;
	font-family:Arial, Helvetica, sans-serif;
	border:1px solid #939393;
	}
form .icons {
	background:#fff!important;
	color:#000;
	float:left!important;
	border:1px solid #858585!important;
	border-left:none!important;
	margin:0;
	width:60px!important;
	}
form .icons ul {
	}
form .icons ul li {
	padding:5px 0 4px 0;
	text-align:center;
	}
.contact #contentPanel input.submit {
	background:url(images/btn-submit-contact.png) no-repeat 0 0;
	text-align:center;
	border:1px solid #8a8a8a;
	font-weight:bold;
	font-size:1.4em;
	line-height:1.43em;
	width:111px;
	height:41px;
	padding:0;
	margin-left:152px;
	cursor:pointer;
	text-indent:-20000px;
	float:none;
	margin-bottom:5px;
	}
.contact #contentPanel a.privacy {
	margin-left:152px;
	font-size:1.1em;
	line-height:1em;
	font-weight:bold;
	color:#545454;
	background-color:transparent;
	}
.contact #contentPanel a.privacy:hover {
	color:#000;
	background-color:transparent;
	}
/*contact form*/
/*content panel end here*/
/* ++++++++++++++++++++++ main container area end here ++++++++++++++++++++++ */


/* +=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+= styles for metrices page +=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+= */
/* ========================================= filter panel start here ========================================= */
.filterPan {
	}

.filterPan .desc {
	float:left;
	}
.filterPan .desc p {
	margin-top:-3px;
	}
/* ========================================= pagination start here ========================================= */
/*.pagination {
	float:right;
	margin-left:25px;
	}*/
.pagination ul {
	}
.pagination ul li {
	margin:0 0 0 4px;
	/*float:left;*/
	font-weight:bold;
	}
.pagination ul li:first-child {
	margin:0;
	}
.pagination ul li a.active  {
	display:inline-block;
	background:#c4c3c3;
	color:#000;
	cursor: pointer !important;
	text-align:center;
	font-weight:bold;
	font-size:1.1em;
	line-height:1.5em;
	padding:0 5px;
	/*float:left;*/
	}
.pagination ul li.pager-first,.pagination ul li.pager-last{
	display:none;/*This is done coz we didnt have Images for first and last*/
}

.pagination ul li.pager-previous a {
	display:inline-block;
	width:7px;
	height:13px;
	background:url("images/btns-pagination.png") no-repeat scroll 0 0 transparent !important;
	margin:2px 0 0 0;
	text-indent:-20000px;
	padding:0;
	}
.pagination ul li.pager-next a{
	display:inline-block;
	width:7px;
	height:13px;
	background:url(images/btns-pagination.png) no-repeat 100% 0!important;
	margin:2px 0 0 0;
	text-indent:-20000px;
	padding:0;
	}
.pagination ul li a:hover, .pagination ul li a{
	background:#000;
	color:#fff;
	}
.pagination ul li.pager-current{
	padding: 2px 5px;
	background:#000;
	color:#fff;
}
.pagination ul li a.next:hover, .pagination ul li a.prev:hover {
	background-color:transparent;
	background-image:url(images/btns-pagination.png)!important;
	}
/* ========================================= pagination end here ========================================= */

/* ========================================= results start here ========================================= */
.results {
	float:right;
	}
.results p {
	float:left;
	line-height:1.5em!important;
	}
.results p span {
	color:#18589a;
	background-color:transparent;
	margin-right:10px;
	font-size:0.75em;
	}
.results select {
	float:left;
	width:45px;
	height:22px;
	margin:0 5px;
	}
/* ========================================= results end here ========================================= */
/* ========================================= filter panel end here ========================================= */

/* ========================================= tab panel ========================================= */
.tabPanel {
	}
.hide {
	display: none;
	}

/*tabs*/
.tabPanel .tabs {
	height:100%;
	overflow:hidden;
	background:url(images/bg-tab-pan.gif) repeat-x 0 100%;
	padding:1px 0 0 0;
	}
.tabPanel .tabs ul {
	}
.tabPanel .tabs ul li {
	float:left;
	padding-left:1px;
	}
.tabPanel .tabs ul li:first-child {
	padding-left:0;
	}
.tabPanel .tabs ul li a {
	display:inline;
	font-size:1.4em;
	line-height:2em;
	color:#fff;
	background:url(images/crnr-tab.png) no-repeat 100% 0 #505050;
	text-decoration:none;
	padding:6px 12px;
	position:relative;
	}
.tabPanel .tabs ul li a:hover, .tabPanel .tabs ul li a.active  {
	color:#000;
	background:#fff;
	border:1px solid #7f7f7f;
	border-bottom:none;
	padding:6px 11px;
	}
.tabPanel .tabs ul li a span {
	display:block;
	width:7px;
	height:7px;
	position:absolute;
	top:-1px;
	right:-1px;
	background-position:100% 0;
	background-repeat:no-repeat;
	}
.tabPanel .tabs ul li a:hover span {
	padding:6px 11px;
	}
.tabPanel .tabs ul li a:hover span, .tabPanel .tabs ul li a.active span {
	background-image:url(images/crnr-tab-h.png)!important;
	}
/*tabs*/

.tabPanel .content {
	padding:20px 12px 0 12px;
	}
table caption, .tabPanel h2 {
	font-weight:bold;
	font-size:1.8em;
	line-height:1.2em;
	margin-bottom:10px;
	text-align:left;
	}
.tabPanel p {
	font-size:1.2em;
	line-height:1.5em;
	margin-bottom:10px;
	}
.tabPanel .modules {
	margin-bottom:20px;
	height:100%;
	overflow:hidden;
	}

/*tabular data*/
.tableData table {
	border-collapse:collapse!important;
	}
.tableData table tr {
	}
.tableData table td {
	border-top:1px solid #b3b3b3;
	border-bottom:1px solid #b3b3b3;
	padding:5px 12px 5px 12px;
	}
.tableData table tr.even {
	background:#f7f7f7;
	color:#000;
	}
.tableData table tr:hover {
	background:#efefef;
	color:#000;
	}
.tableData table th {
	background:#dedede;
	color:#000;
	border:none;
	border-left:1px solid #fff;
	padding:3px 12px 5px 12px;
	text-align:left;
	}
.tableData table td.head h3 {
	font-weight:bold;
	font-size:1.2em;
	line-height:1.1em;
	color:#000;
	background-color:transparent;
	}
.tableData table td.head h3 span {
	font-weight:normal;
	}
.tableData table p {
	margin:0;
	padding:0;
	}
.tableData table p a {
	color:#1a55a5;
	background-color:transparent;
	text-decoration:none;
	}
.tableData table p a:hover {
	text-decoration:underline;
	}
.tableData p img {
	width:14px;
	height:15px;
	float:left;
	margin-right:2px;
	}
.asterix {
	color:#c06004;
	background-color:transparent;
	font-weight:bold;
	font-size:1.5em;
	line-height:1em;
	}
.votes {
	color:#d47748;
	background-color:transparent;
	font-size:1em!important;
	line-height:1em;
	}

.ratingCol {
	width:90px;
	}
/*tabular data*/

.tabPanel .blocks {
	width:48%;
	float:left;
	margin:0 3% 0 0;
	}

/*tab panel form*/
.tabPanel form {
	width:auto!important;
	background:#F7F7F7;
	color:#000;
	border:1px solid #DEDEDE;
	padding:10px 7px;
	}
.tabPanel form input {
	width:215px;
	}
.tabPanel form textarea {
	width:265px!important;
	}
/*.tabPanel .captcha {
	padding:10px 7px 10px 7px!important;
	width:200px!important;
	}
.tabPanel .captcha input {
	width:198px!important;
	}*/
.tabPanel form .icons {
	width:50px!important;
	}
.tabPanel form .icons ul li {
	padding:3px 0 2px 0;
	text-align:center;
	}
/*tab panel form*/
/* ========================================= tab panel ========================================= */


/* +=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+= styles for faq page +=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+= */
.faq {
	}
.questions {
	padding-bottom:30px;
	}
.questions ul {
	}
.questions ul li {
	background:url(images/blt-faq.gif) no-repeat 0 0.4em;
	padding:0 0 0 10px;
	}
.questions ul li a {
	font-weight:bold;
	font-size:1.3em;
	line-height:1.25em;
	margin-bottom:3px;
	color:#6a6a6a;
	background-color:transparent;
	}
.questions ul li a:hover {
	color:#000;
	background-color:transparent;
	}

.answers {
	}
.answers p span {
	display:block;
	font-weight:bold;
	font-size:1.8em;
	line-height:1.1em;
	margin-bottom:5px;
	padding-right:30px;
	position:relative;
}

.answers p span a.up {
	position:absolute;
	top:0;
	right:0;
	display:block;
	width:25px;
	height:25px;
	background:url(images/direction-top.png) no-repeat 0 0;
	text-indent:-20000px;
}

/*********** PSL Sitemap page **********************/
.site-map-menu {
	
}
.site-map-menu li{
	/*float:left;*/
	display:inline-table;
	/*min-width:178px;*/
	padding-bottom:20px;
	margin-right:20px;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
	 .site-map-menu li{	
		display:inline-table;
		margin-top:0px;
		vertical-align:top;
		margin-right:20px;
		
	}
}
.site-map-menu li ul li{
	/*float:none;*/
	display:inherit;
	min-width:inherit;
	padding:0px 10px 4px 10px;
	padding:1px 10px 4px 10px\0/IE9;
	background:url(images/grey_arrow.png) no-repeat 0 0.35em;
}
.site-map-menu h1,.site-map-menu h1 a{
	font-size:1.167em;
	color:#000;
	font-weight:bold;
}
.site-map-menu h1 a:hover{
	color:#666;
}
.site-map-menu li a{
	color:#4855c4;
	font-size: 1.2em;
}
.site-map-menu li ul li a:hover{
	color:#000;
}

/*********** PSL Feedback page **********************/
.contact #contentPanel input.submitFeedback {
	background:url(images/btn-submit-feedback.png) no-repeat 0 0;
	text-align:center;
	border:0px solid #8a8a8a;
	font-weight:bold;
	font-size:1.4em;
	line-height:1.43em;
	width:113px;
	height:43px;
	padding:0;
	margin-left:112px;
	cursor:pointer;
	text-indent:-20000px;
	float:none;
	margin-bottom:5px;
	padding-bottom:50px\0/IE9;
}
.contact #contentPanel form textarea {
	font-size: 1.2em!important;
	width:389px!important;
	height:81px!important;
}
.contact #contentPanel form input {	
	width:389px!important;
}

.contact #contentPanel form div span.description {
	color:#666666;
	font-size: 1em!important;
	margin-left:112px;	
}

.contact #contentPanel form label {
	width:112px;
	font-weight:bold;
	font-size:1.3em;
	line-height:1em;
	color:#4c4c4c;
	background-color:transparent;
	float:left;
}

/*********** PSL Tell A Friend page **********************/
.contact #contentPanel input.submitTellAFriend {
	background:url(images/btn-submit-tellAFriend.png) no-repeat 0 0;
	text-align:center;
	border:0px solid #8a8a8a;
	font-weight:bold;
	font-size:1.4em;
	line-height:1.43em;
	width:164px;
	height:43px;
	padding:0;
	margin-left:185px;
	cursor:pointer;
	text-indent:-20000px;
	float:none;
	margin-bottom:5px;
	padding-bottom:50px\0/IE9;
}
.contact #contentPanel form.tellAFriend {
	width:685px!important;
}
.contact #contentPanel form.tellAFriend label {
	width:185px!important;
	font-weight:bold;
	font-size:1.3em;
	line-height:1em;
	color:#4c4c4c;
	background-color:transparent;
	float:left;
}
.contact #contentPanel form.tellAFriend div span.description {
	color:#666666;
	font-size: 1em!important;
	margin-left:185px;	
}
/*********** PSL RSS Feeds page **********************/
.rssLink li {
	background: url("images/blt-faq.gif") no-repeat scroll 0 0.4em transparent;
    padding: 0 0 3px 10px;
}
.rssLink li a {
    background-color: transparent;
    color: #6A6A6A;
    font-size: 1.3em;
    font-weight: bold;
    line-height: 1.25em;
    margin-bottom: 5px;
}
.rssLink li a:hover {   
    color: #000;
}

.beta span.note{	
	color: #FF0000;
	padding: 0 0 30px 0;
}

.rssContent{
	padding-top:25px;
}
.rssContent h1{
	font-size: 1.3em;
	padding:0 0 4px;
}
.rssContent .rssTitle{
	font-size:1.2em;
	font-weight:bold;
	border-bottom:1px solid #888888;
	color:#393939;		
}
.rssContent .rssTitle a{
	font-size:1.2em;
	font-weight:bold;
	color:#393939;		
}
.rssContent .rssTitle a:hover{
	color:#666;	
}

.rssContent .rssDetail{	
	color:#393939;	
}
.rssContent .rssDetail img{	
	 margin-bottom: -2px;
}
.rssContent li{	
	padding:0 0 30px;
}
.rssContent .rssComments{	
	color:#3165c6;
	float:right;
	margin-top:-30px;
	margin-right:10px;	
	font-size:1.2em;		
}
.rssContent .rssComments a{
	background: url("images/rss_feed_comments.png") no-repeat scroll 0 0 transparent;	
	color:#3165c6;	
	font-size:1.2em;
	padding:0 0 0 19px;	
}
.rssContent .rssComments a:hover{
	color:#000;
}

/*********** PSL Open Data Sites page **********************/
.opendatasites-info-pad {
    margin: 0 auto 0 185px;
    text-align: center;
}
.opendatasites-info {
    background: url("images/opendatasite-info-bg.png") no-repeat scroll 0 0 transparent;
    float: left;
    height: 120px;
    margin: 5px;
    overflow: hidden;
    padding: 5px;
    width: 120px;
}

.opendatasites-title {
    font-size: 18px;
    line-height: 48px;
    margin-bottom: 6px;
}

.opendatasites-title.twolines {
    line-height: 24px;
}

.opendatasites-stat {
    font-size: 50px;
    line-height: 60px;
}

.opendatasites-stat a,.opendatasites-title a {
    background-color: inherit;
    color: #2B2B2B;
    outline: medium none;
    text-decoration: none;
}

.beta h1{
	font-size: 1.4em;
}

.countrydatasites_flags_outer {
    background-color: #e7e7e7;
	margin: 20px 0 15px;
    padding: 0;
}

.country_flags {
    padding: 10px 18px 0 24px;
    text-align: left;
}

.countrydatasites_flags {
    margin: 0 -5px;
    text-align: center;
}

.flag{
	display:inline-block;
	background-color: #e7e7e7;
    margin: 5px auto;
    width: 112px;
}
.flag a img {
    border: 3px solid #FFF;
}

.clearBoth{
	clear:both;
}
/*********** PSL What' New page **********************/
.contact .leftPanel .modulesWhatsNew h2 {   
    color: #000000;
    font-size: 1.4em;
    font-weight: bold;
    line-height: 1em;
    /*margin: 0 0 12px;*/   
    text-transform: none;
	 background-color: #F2F1F1;
	padding: 10px 0 5px;
}
.contact .leftPanel .modulesWhatsNew {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: trasparent !important;/* #f7f6f6*/
    background-image: url("images/double-bdr.gif");
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: repeat-x;
    background-size: auto auto;
    border: medium none;   
	padding: 5px 0 10px;
	font-size: 1em;
	line-height: 1.4em;
	color: #393939;
    /*padding: 10px 10px 10px 0;*/
}


.contact .leftPanel .modulesWhatsNew p {  
    margin: 0!important ;
	font-size: 1em;
	line-height: 1.4em;
	color: #393939;	
	padding: 5px 0;
}

.contact .leftPanelWhatsNew {
	width:253px !important ;
	padding-bottom: 5px!important ;
}

.contact .rightPanelWhatsNew {
	width:690px  !important ;
}
.contact .rightPanelWhatsNew h3{
	font-size: 1.4em;	
}
.contact .rightPanelWhatsNew p {
	color:#393939;
	background-color:transparent;
	font-weight:normal;
	font-size:1.2em;
	line-height: 1.5em;
}
.mainContainer .bottomWhatsNew {
	 padding: 23px 19px 30px !important ;
}

.imgWhatsNew{
	margin: 17px 0 0 10px;
}
a.readMore{
	color:#30609a;	
	float:right;
	margin:15px 5px 0;
}
a.readMore:hover{
	color:#000000;
}
.newestDatasets{
	margin-top:0;
}
.newestDatasets li{
	background: url("images/blt-faq.gif") no-repeat scroll 0 0.4em transparent;
    padding: 0 0 0 10px;
}
.newestDatasets li span{ 
	padding: 0!important ;	
	color: #000000;
    font-size: 1.4em;
    font-weight: bold;
    line-height: 1em;
}
.newestDatasets li a{
	color: #30609a;
	font-size: 1.2em;
    line-height: 1em;
	 font-weight: bold;
}
.newestDatasets li a:hover{
	color:#000000;
}
.rssFeeds li{
	background: url("images/blt-red-dbl.gif") no-repeat scroll 0 1em transparent;
    padding: 0 0 0 15px;
}
.rssFeeds li a{
	color: #30609a;
	font-size: 1.2em;
    line-height: 2.4em;
	font-weight: bold;
}
.rssFeeds li a:hover{
	color:#000000;
}
/* ========================================= CSS for Blocks List Page Starts Here========================================= */
#block-admin-display-form tbody{
	border-top: 0 none !important;
	font: 1.3em Arial;
}
#block-admin-display-form .region {
    padding: 5px 0;
}
#block-admin-display-form td{
	padding: 0 6px;
}
#block-admin-display-form div.warning,#block-admin-display-form tr.warning{
	font: bold 1.3em Arial;
    margin-top: 10px;
}
/* ========================================= CSS for Blocks List Page Ends Here=========================================== */

/* ========================================= Modified Css Starts here ========================================= */
a.skipnav { left: -999px; overflow: hidden; position: absolute; top: -999px;}
a.skipnav:hover, a.skipnav:focus, a.skipnav:active { background-color: #000000; border: 2px solid #FFFFFF; color: #FFFFFF; font-size: 150%; font-style: normal; font-weight: bold; height: auto; left: 10px; overflow: auto; padding: 5px; text-decoration: none; top: 10px; z-index: 100;}
#edit-search-theme-form-1-wrapper label{display:none;}
.box h2 {display: none;}
.box .tableData h2 {display: block;}
div.fivestar-widget-static .star{background: url("images/stars.png") no-repeat scroll 0 0 transparent;}
div.fivestar-widget-static .star span.on {background: url("images/stars-on.png") no-repeat scroll 0 0 transparent;}
div.fivestar-widget-static .star span.off {background: url("images/stars.png") no-repeat scroll 0 0 transparent;}
.tableData table tr.ds-list-item-new td{background-color: transparent;color: #202020;font-size: 1.2em;line-height: 1.37em;}
.tableData p span{font-weight: normal;}
/*div.fivestar-widget-static .star span.on {background-position: right -32px;} 
div.fivestar-widget div.on a {background-position: right -16px;} 
div.fivestar-widget div.hover a,div.rating div a:hover {background-position: right -32px;}*/
/* ========================================= Modified Css Ends here ========================================= */